.styleTitulo{
    font-size: 25px;
    font-weight: bold;
    color: #0e4097;
    border-top: 4px #0e4097 solid;
    border-bottom: 1px #0e4097 solid;
    border-left: 1px #0e4097 solid;
    border-right: 1px #0e4097 solid;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#missao{
    font-size: 17px;
    margin-top: 20px;
    font-family: Arial;
    text-align: justify;
    line-height: 30px;
    font-weight: bold;
}

#historia{
    font-size: 17px;
    margin-top: 20px;
    font-family: Arial;
    font-weight: bold;
    text-align: justify;
    line-height: 30px;
}
.heraldica{    
    font-size: 17px;
    margin-top: 20px;
    font-family: Arial;
    font-weight: bold;
    text-align: justify;
    line-height: 30px;
}
#heraldica2{    
    font-size: 17px;
    margin-top: 20px;
    font-family: Arial;
    font-weight: bold;
    text-align: justify;
    line-height: 30px;
}
#brasaoHeraldica{
   margin: 10px auto;
    width: 220px;
    height: 300px;
    background-image: url(../img/brasaoHeraldica.png);
}
.legendaAtualCmdt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}
.legendaNmCmdt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}
.legendaDtCmdt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

#organograma{    
   margin: 10px auto;
    width: 650px;
    height: 440px;
    background-image: url(../img/organograma.png);
}
.tbSubTitle{
    font-size: 14px;
    font-family: Arial;
    background-color:#0e4097; 
    font-weight: bold;
    text-align: center;
    width: 660px;
    padding: 10px 5px;
}
.tbSubTitle a{
    color: #fff;
}
.tbchamado{   
    width: 50%;
}
.tbSolicitacao{
    text-align: center;
    margin-left: 30px;
    width: 660px;
    padding: 40px;
}
.tbSolicitacao td, .tbDetalhes td{
    padding: 10px 20px;
}
.subTituloSti{
    text-align: center;
    font-weight: bolder;
    font-size: 22px;    
    color: #737373;
    text-shadow: blue 0.04em 0.04em 0em;
}
.btnDetalhes{
    text-align: right;
}
.tbDetalhes{    
    text-align: left;
    margin-left: 30px;
    width: 660px;
    padding: 40px;
}