*{
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}
body{
    font: 100% Arial, FreeSans, sans-serif;
    margin: 0;
}
header{
    color: #fff;
    width: 100%;
    height: 230px;
    background: #2160bd;
}

.header{
    width: 930px;
    margin: 0 auto;
}
.linksBarraHeader{
    margin-top: 8px;
    font-size: 1.2em;
    float: left;
}
.linksBarraHeader2{
    text-align: right;
    float: right;
}
.btnLinks{
    background-color: #0f4098;
}
#wrapper{
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    font-size: 1.2em;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}


#portal-siteactions {
    padding-top: 14px;
    margin-top: 0;
    border-bottom: 1px dotted #9bc2a3;
    position: static;
    float: none;
    clear: both;
    font-size: 0.9em;
    display: block;
    text-align: left;

}
#portal-description {
    bottom: 24px;
    font-size: 1.2em;
}
#portal-title{
    float: right;
    margin-right: 40px;
    margin-top: 40px;
    font-size: 7.35em;
    font-family: caption;
    line-height: 1em;   
}
#portal-title a{
    color: #fff !important;    
    text-decoration: none;
    list-style: none;    
}
#portal-subTitle{
    font-weight: bold;
    font-family:  cursive;
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
}
h1{
    display: block;
    border-bottom: none;
    letter-spacing: -0.05em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#logo a{
    color: #fff !important;    
    text-decoration: none;
    font-size: 11px;
    float: left;
}
#portal-siteactions a {
    color: #fff !important;
    text-decoration: none;
    font-size: 11px;
    margin: 0 10px;
}
li{
  display: inline;
  text-align: -webkit-match-parent;  
}
ul{
    
    list-style: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 10px;
}
.input-group{
    margin-top: 40px;
    float: right;
    clear: initial;
}
.buscar{
 margin-top: 20px;
 float: right;
}
.img-buscar{
    width: 35px;
    height: 35px;
    background: url("../img/lupa.png");
}
.img-amazonia-azul{
    height:91px; 
    width:193px;
}
#main{
    margin-bottom: 20px;
}
footer{
    width: 100%;
    height: auto;
    background: #2160bd;
    margin: 0 auto;
}
#footer{
    width: 930px;
    height: auto;
    background: #2160bd;
    margin: 0 auto;
}
.footer-dados{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #87CEFA;
    text-align: center;
    font-size: 15px;
}
.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
/*    a:visited{
        color: #fff;
    }*/
.links{
    width: 930px;
    padding-top: 10px;
    margin: 40px auto; 
}
.coluna-1{
    text-align: center;
    width: 33.32%;
    height: 30px;
    background: #9bc2a3;
}
.coluna-1 a{
    font-size: 15px;
    color: #fff;
}
.coluna-2{
    width: 33.32%;
    height: 30px;
    background: #204d74;
}
.coluna-3{
    width: 33.32%;
    height: 30px;
    background: #fff;
}
.main-titulo{
    padding: 0 20px;
    width: 25%;
    height: auto;
}
.main-titulo ul{
    margin: 0;
}

.cmdts-ant{
    text-align: center;
    float: left;
    width: 50%;
    height: auto;
}
.atual-comand{
    text-align: center;
}
.main-titulo-2{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #0e4097;
    border-top: 1px #0e4097 solid;
    background: #e0ebeb;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}
.main-titulo-link{
    font-size: 15px;
    box-sizing: border-box;
    background: #fff;
}
.main-titulo-link a{
    color: #000;
}

.saudacao{
    padding-top: 20px;
    font-size: 20px;
    text-align: right;
}
.bt-sair{
    margin: 3px;
    float: right;
}
.bt-entrar{
    margin: 3px;
    float: left;
}
.form-control{
    margin: 2px;
}
#sobre{
    background: #0f4098;
    font-size: 12px;
}
.lst-item{
    padding-right: 10px;
    margin-left: 10px;
    border-right-width: 2px;
    border-right-style: groove;
    border-right-color: #fff;
}
.lst-item a, .last-itm a{   
    color: #fff !important;
    text-decoration: none;
}
.last{
    padding-right: 10px;
    margin-left: 10px;
}
.brasil-flag{
    height: auto !important;
    border-right: 3px solid #dfdfdf !important;
}

.tabelaEmails{
    margin-left: 110px;
}
.lineIndex{
    margin-top: 400px;
}
.lineIndex h4{
    margin-left: 210px;
}
.lineIndex a{
    text-decoration: none;
    font-size: 22px;
    color: #737373;
    font-weight: bold;
    text-shadow: blue 0.03em 0.03em 0em;
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s ease-out;
}
.lineIndex a:hover{
    text-decoration: none;
    font-size: 22px;
    color: #5bc0de;
    font-weight: bold;
    text-shadow: #67b168 0.03em 0.03em 0em;
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s ease-out;
}

.tdEmails{
    font-family: Arial;
    padding-right: 220px;
    font-weight: bolder;
    text-align: center;
    font-size: 25px;    
    color: #737373;
    text-shadow: blue 0.05em 0.05em 0em;
}
.btn-link{
    float: right;
}

.mainmenu a {
  display: block;
  text-decoration: none;
  padding: 10px;
}

.mainmenu li:hover .submenu {
    display: block;
    max-height: 800px;
}

.submenu a:hover {
  background-color: #666;
  color: #fff;
  
}
/* Base Styles */

#btn-menu-lateral{
  margin: 0;
  padding: 0;
  border: 0;
}
#cssmenu > ul > li.active > a {
  background: #5bc0de;
  background: -moz-linear-gradient(#5bc0de 0%, #5bc0de 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #5bc0de));
  background: -webkit-linear-gradient(#5bc0de 0%, #5bc0de 100%);
  background: linear-gradient(#5bc0de 0%, #5bc0de 100%);
  color: #5bc0de;
  text-shadow: 0 1px 1px #5bc0de;
}
#cssmenu > ul > li.has-sub.active > a:after {
  right: 14px;
  top: 12px;
  border: 5px solid transparent;
}
/* Sub menu */
#cssmenu ul ul {
  padding: 0;
  display: none;
}


