*{
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}
body{
    font: 100% Arial, FreeSans, sans-serif;
    margin: 0;
}
header{
    color: #fff;
    width: 100%;
    height: 230px;
    background: #2160bd;
}

.header{
    width: 930px;
    margin: 0 auto;
}
#wrapper{
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    font-size: 1.2em;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}


#portal-siteactions {
    padding-top: 14px;
    margin-top: 0;
    border-bottom: 1px dotted #9bc2a3;
    position: static;
    float: none;
    clear: both;
    font-size: 0.9em;
    display: block;
    text-align: right;

}
#portal-title-1 {
    top: 30px;
}
#portal-description {
    bottom: 24px;
    text-transform: uppercase;
    font-size: 1.2em;
}
#portal-title{
    margin: 30px 0 46px;
    font-size: 8.35em;
    font-family: Arial;
    line-height: 1em;
    
}
h1{
    display: block;
    border-bottom: none;
    letter-spacing: -0.05em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
#portal-title a{
    color: #fff !important;    
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
}
#logo a{
    color: #fff !important;    
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0 10px;
    float: left;
}
#portal-siteactions a {
    color: #fff !important;    
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0 10px;
}
li{
  display: inline;
  text-align: -webkit-match-parent;  
}
ul{
    
    list-style: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 10px;
}
.input-group{
    margin-top: 40px;
    float: right;
    clear: initial;
}
.buscar{
 margin-top: 20px;
 float: right;
}
.img-buscar{
    width: 35px;
    height: 35px;
    background: url("../img/lupa.png");
}
#main{
    margin-bottom: 20px;
}
footer{
    width: 100%;
    height: auto;
    background: #2160bd;
    margin: 0 auto;
}
#footer{
    width: 930px;
    height: auto;
    background: #2160bd;
    margin: 0 auto;
}
.footer-dados{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    text-align: center;
    font-size: 15px;
}
a:visited{
    color: #fff;
}
.links{
    color: #fff;
    width: 930px;
    padding-top: 10px;
    margin: 40px auto; 
}
.coluna-1{
    text-align: center;
    width: 33.32%;
    height: 30px;
    background: #9bc2a3;
}
.coluna-1 a{
    font-size: 15px;
    color: #fff;
}
.coluna-2{
    width: 33.32%;
    height: 30px;
    background: #204d74;
}
.coluna-3{
    width: 33.32%;
    height: 30px;
    background: #fff;
}
.main-titulo{
    padding: 0 20px;
    width: 22.32%;
    height: auto;
}
.main-titulo ul{
    margin: 0;
}
.main-conteudo{
    padding: 0 0 0 100px;
    width: 65.65%;
    height: auto;
}
.main-titulo-2{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: #0e4097;
    border-top: 4px #0e4097 solid;
    border-bottom: 1px #0e4097 solid;
    background: #e0ebeb;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}
.main-titulo-link{
    font-size: 15px;
    box-sizing: border-box;
    background: #fff;
}
.main-titulo-link a{
    color: #000;
}

.saudacao{
    padding-top: 20px;
    font-size: 20px;
    text-align: right;
}
.bt-sair{
    margin: 3px;
    float: right;
}
.bt-entrar{
    margin: 3px;
    float: left;
}
.form-control{
    margin: 2px;
}
#sobre{
    background: #0f4098;
    font-size: 15px;
}
.list-item{    
    padding-right: 10px;
    margin-left: 10px;
    border-right-width: 2px;
    border-right-style: groove;
    border-right-color: #fff;
}
.last{
    padding-right: 10px;
    margin-left: 10px;
}
.brasil-flag{
    height: auto !important;
    border-right: 3px solid #dfdfdf !important;
}